header{
    background-color: rgb(236, 15, 33);
    height: 100px;
}


.header__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;    
}

.cart__shop{
    margin-left: -13px;
    color: rgb(255, 255, 255);
}